$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.brand img{
  width: 36px;
}

.brand h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
}

.brand {
    text-align: center;
}

body.container-fluid {
    padding: 0;
    background-image: url('http://localhost:7165/images/map.png');
    background-size: cover;
    background-repeat: repeat-y;
}

.wrapper {
    margin: 1em;
    background: rgba(255, 255, 255, 0.95);
    padding: 0 1em 1em 1em;
    border: 1px solid #999;
    height: auto;
}

.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    text-align: right;
  }

  .mainmenu {
      position: absolute;
      right: 1em;
      top: 1em;
      display: none;
  }

.mainmenu > li {
      padding: .5em;
  }

  ul.submenu {
    display: none;
    margin-right: 0.5em;
    border: 1px solid #999;
    box-shadow: -3px 6px 12px 3px rgba(128,128,128,0.3);
    background: #fff;
}

ul.submenu li {
    padding: .5em;
    border-bottom: 1px solid #999;
}

.mainmenu li {
    line-height: 1.2;
    font-size: 1.2em;
}

header {
    padding-bottom: 1em;
    border-bottom: 1px solid #999;
}

// #change-password,
// #sign-out,
#get-trips,
#get-trip,
// #update-trip,
// #delete-trip
{
  display: none;
}

.pageContent {
    width: 100%;
    margin: 0px auto;
    padding: 1em 0;
}

.pageContent form {
    border: 1px solid #999;
    margin-bottom: 2em;
    padding: 1em;
    background: #FFF;
}

label {
  margin-top: 1em;
}

a.btn.btn-primary {
    margin-bottom: 1em;
    width: 100%;
}

section.lede {
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

p {
    font-size: 1.4em;
}

legend {
  padding: 0 0 .5em 0;
}

.logged-in .loginforms {
  display: none;
}

#message {
  display: none;
}

.appinfo {
  display: none;
}

.logged-in .appinfo {
  display: block;
}

.logged-in .mainmenu {
  display: block;
}
#tripMessage {
  display: none;
}
.alert {
    padding: 5px 15px;
    margin-bottom: 20px;
    margin-top: .5em;
}

label.requiredfield {
  color: #cc0000;
}

.tablewrapper {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 2em;
    border: 1px solid #999;
    padding: .5em;
}

.pageContent .modal-body form {
    border: none;
    padding: 0;
    margin-bottom: 0;
}

.modal-header .close {
    margin-top: -35px;
    font-size: 35px;
}

h5#changepassword-modal-label {
    font-size: 21px;
}
